<html>
<head>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.jstree.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>

#def generateFolderList($folder, $top=False)
<li id="#echo $folder.stub_name() #">
    <a href="#">$folder.name</a>
    <ul>
    #for $subfolder in $folder.child_folders
        $generateFolderList($subfolder)
    #end for
    </ul>
</li>
#end def

<div id="demo1" class="demo" style="position: fixed; top: 0px; left: 0px; width: 300px; bottom: 0px; background-color: #eee; overflow-x: hidden; overflow-y: auto; border-right: 1px solid #999;">
    <ul>
        #for $folder in $root_folder.child_folders
            $generateFolderList($folder, True)
        #end for
    </ul>
</div>
<div id="sidebar" style="position:fixed; top:0px; left: 301px; right:0px; bottom: 0px; overflow-y: auto; background-color: #3c3c3c; padding: 10px 20px;">
</div>
<script type="text/javascript" src="base.js"></script>
</body>
</html>