/*
 * jsTree apple theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

* { font-family: "Lucida Grande"; font-size: 10pt; }

.jstree li, 
.jstree ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree li.jstree-last { background:transparent; }
.jstree .jstree-open > ins { background-position:-72px 0; }
.jstree .jstree-closed > ins { background-position:-54px 0; }
.jstree .jstree-leaf > ins { background-position:-36px 0; }

.jstree a { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.jstree .jstree-hovered { background:#fff; border:1px solid #ccc; padding:0 3px 0 3px; }
.jstree .jstree-clicked { background:#ccc; border:1px solid #aaa; padding:0 3px 0 3px; }
.jstree a .jstree-icon { background-position:-56px -20px; }
.jstree a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree.jstree-focused { background:white; }

.jstree .jstree-no-dots li, 
.jstree .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree a .jstree-icon { display:none; }

.jstree .jstree-search { font-style:italic; }

.jstree .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#jstree-marker.jstree { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree a.jstree-search { color:aqua; }
.jstree .jstree-locked a { color:silver; cursor:default; }

img
{
    margin: 8px;
    -webkit-box-shadow: 2px 2px 3px #000;
}